
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-bg-color: #131313;
    --light-bg-color: #fff;

    --dark-header-color: #4b4b4c;
    --light-header-color: #2e2e2e;

    --light-text-color: #fff;
    --dark-text-color: #222;

    --font-size : 1em;
    --font-bold : 600;
    --font-bolder : 800;
    --font-reqular : 400;
    --font-eng : "Poppins", sans-serif;
    --font-per : "Markazi Text", serif;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    transition: all 0.3s;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }


body.light-theme{
    background-color: var(--light-bg-color);
    color: var(--dark-text-color);
    font-size: var(--font-size);
    
}

body.dark-theme{
    font-family: var(--font-reqular);
    background-color: var(--dark-bg-color);
    font-size: var(--font-size);
    /* font-family: var(--font-eng); */
}

/* Header */

header{
    width: 100%;
}

body.light-theme header .nav-bar{
    background: var(--light-header-color);
    box-shadow: 0 0 8px ;
}

body.dark-theme header .nav-bar{
    background: var(--dark-header-color);
    box-shadow: 0 0 8px .2px #4b4b4c;
}

header .nav-bar .nav-item{
    padding: 15px;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-bar .nav-item .left .level-tier{
    font-size: 1.3em;
    font-weight: var(--font-bold);
    color: var(--light-text-color);
}

header .nav-bar .nav-item .middle h3{
    font-size:1.6em ;
    font-weight: var(--font-bolder);
    color: var(--light-text-color);
}

header .nav-bar .nav-item .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-bar .nav-item .right .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    margin-left: 13px;
    cursor: pointer;
    transition: all 0.3s;
}

header .nav-bar .nav-item .right button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 1em;
}

header .nav-bar .nav-item .right button img{
    width: 35px;
    height: 35px;
}

/* End of Header */





.task-cards{
    
    margin:90px 50px;
}

body.dark-theme .task-cards .task-card{
    margin: 20px;
    max-width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.658);
    color: white;
    padding: 7px;
}

body.light-theme .task-cards .task-card{
   margin: 20px;
   min-width: 270px;
   max-width: 700px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   border: 1px solid black;
   padding: 7px;
}

body.dark-theme .task-cards .task-card .card-header{
    border-bottom: 1px solid #666;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: var(--font-bold);
}

body.light-theme .task-cards .task-card .card-header{
    border-bottom: 1px solid #666;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: var(--font-bold);
    background: transparent;
}

body.eng .task-cards .task-card .card-header{
    direction: ltr;
}

body.per .task-cards .task-card .card-header{
    direction: rtl;
}

/* card Body */

.task-cards .task-card .card-body{
    padding: 1em;
    border-bottom: 1px solid #666;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

/*  */

.task-cards .task-card .card-body .task{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    border-bottom: 1px solid #333;
    padding: 7px;
    transition: all 0.2s;
}

.task-cards .task-card .card-body .task.completed {
    text-decoration: line-through;
    color: #888; 
}

body.eng .task-cards .task-card .card-body .task{
    direction: ltr;
}

body.per .task-cards .task-card .card-body .task{
    direction: rtl;
}

.task-cards .task-card .card-body .task li{
    list-style: none;
    margin-right:-50%;
    transition: all 0.2s;
}

body.eng .task-cards .task-card .card-body .task li{
    margin-right: 45%;
}

.task-cards .task-card .card-body .task:hover i{
    visibility: visible;
}

.task-cards .task-card .card-body .task i {
    visibility: hidden;
    font-size: 1em;
    margin-right: 10px;
    margin-left: 20px;
    color: #666;
    cursor: pointer;
}

body.eng .task-cards .task-card .card-body .task i{
    margin:0;
}

.task-cards .task-card .card-body .task i:hover{
    color: white;
}

body.light-theme .task-cards .task-card .card-body .task i:hover{
    color: black;
}

body.dark-theme .task-cards .task-card .card-body .task i:hover{
    color: white;
}

body.light-theme .task-cards .task-card .card-body .task  #check-box{
    -webkit-appearance: none;
    accent-color: purple;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    /* margin-right: 90px; */
}

body.dark-theme .task-cards .task-card .card-body .task  #check-box{
    -webkit-appearance: none;
    accent-color: purple;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid white;
}

body.light-theme .task-cards .task-card .card-body .task  #check-box:checked{
    background-color: var(--light-bg-color);
}

.dynamic-checkbox {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    /* background: linear-gradient(135deg, #8B008B, #C71585) no-repeat; */
    background-size: 100% 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .dynamic-checkbox:checked{
    background: linear-gradient(45deg, #8F00FF, #FF69B4)
  }

  .dynamic-checkbox:checked::before {
    content: '\2713';
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: .8em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }

 body.light-theme .dynamic-checkbox:checked::before{
    content: '\2713';
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: .8em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/* End Of Card Body */

.task-cards .task-card .card-bottom{
    width: 100%;
    padding: .4em;
    display: flex;
    align-items: center;
    justify-content: center;

}

body.dark-theme .task-cards .task-card .card-bottom input {
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    padding: 5px;
    margin-right: 10px;
    color: white;
    transition: all 0.3s;
}

body.light-theme .task-cards .task-card .card-bottom input{
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    padding: 5px;
    margin-right: 10px;
    color: var(--dark-text-color);
    transition: all 0.3s;
}


body.eng .task-cards .task-card .card-bottom input{
    direction: ltr;
}

body.per .task-cards .task-card .card-bottom input{
    direction: rtl;
}

body.dark-theme .task-cards .task-card .card-bottom input::placeholder{
    color: #b6b6b6;
}

body.light-theme .task-cards .task-card .card-bottom input::placeholder{
    color: #b6b6b6;
}

body.dark-theme .task-cards .task-card .card-bottom input:focus{
    padding: 7px;
    border-radius:3px ;
    border-radius: 7px;
    box-shadow: -2px 4px 5px rgba(114, 114, 114, 0.555);
    border: none;
}

body.light-theme .task-cards .task-card .card-bottom input:focus{
    padding: 7px;
    border-radius:3px ;
    border-radius: 7px;
    box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.466);
}

body.dark-theme .task-cards .task-card .card-bottom button {
    border: none;
    outline: none;
    background: none;
    color: rgb(199, 199, 199);
    margin: 0 10px;
    cursor: pointer;
}

body.light-theme .task-cards .task-card .card-bottom button{
    border: none;
    outline: none;
    background: none;
    color: #8a8a8a;
    margin: 0 10px;
    cursor: pointer;
}

body.dark-theme .task-cards .task-card .card-bottom button:hover{
    color: white;
    font-weight: var(--font-bolder);
}

body.light-theme .task-cards .task-card .card-bottom button:hover{
    color: var(--dark-text-color);
    font-weight: var(--font-bolder);
}

/* menu wrapper */

.wrapper{
    margin-left: 80%; 
    margin-right: 10px; 
    /* width: 100%; */
}

body.dark-theme .wrapper {
    background: var(--light-bg-color);
    padding: 8px;
    min-width: 15em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

body.light-theme .wrapper{
    background: var(--dark-bg-color);
    /* width: 100%; */
    padding: 8px;
    min-width: 15em;
    /* width: 15em; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}

body.per .wrapper {
    direction: rtl;
    margin-left: 75%;
}

body.dark-theme .wrapper.active{
    display: block;
}

body.light-theme .wrapper.active{
    display: block;
}

.wrapper ul{
    width: 100%;
}

.wrapper ul li:hover{
    font-weight: 600;
}

body.dark-theme .wrapper ul li{
    list-style: none;
    border-bottom: 1px solid #999999bd;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
}

body.light-theme .wrapper ul li{
    list-style: none;
    border-bottom: 1px solid #313131bd;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
}

body.dark-theme .wrapper ul :hover{
    background: #bebebe;
    width: 100%;
}

body.light-theme .wrapper ul :hover{
    background: #666666;
    width: 100%;
}

body.dark-theme .wrapper ul li a{
    text-decoration: none;
    color: var(--dark-text-color);
}

body.light-theme .wrapper ul li a{
    text-decoration: none;
    color: var(--light-text-color);
}


body.dark-theme .wrapper .language{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 14%;
    border-bottom: 1px solid #999999bd;
    padding: 10px;
    color: var(--dark-text-color);
    
}

body.light-theme .wrapper .language{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 16%;
    border-bottom: 1px solid #313131bd;
    padding: 10px;
    color: var(--light-text-color);

}

.wrapper .language .language-btn{
    cursor: pointer;
    font-weight: 600;
}

.wrapper .language .language-btn i{
    font-size: .6em;
    margin-right: 4px;
}

.wrapper .language .languages{
    display: none;
    
}

.wrapper .language .languages.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wrapper .language .languages span:hover{
    font-weight: 600;
}

/* end of menu wrapper */


@media screen  and (max-width : 1200px){
    .wrapper{
        position: relative;
        right: 75%;
        width: 100%;
    }
    
}


@media screen  and (max-width : 576px){
    .wrapper{
        position: relative;
        right: 75%;

        width: 100%;
    }

    body.eng .wrapper{
        position: relative;
        right: 80%;

        width: 100%;
    }
    
}